<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rain_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1260},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1440},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1620},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1800},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
			<key>rain_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1980},{340,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,180}}</string>
				<key>sourceSize</key>
				<string>{340,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>rain.png</string>
			<key>size</key>
			<string>{340,2160}</string>
			<key>textureFileName</key>
			<string>rain.png</string>
		</dict>
	</dict>
</plist>
